/*
Globals and Reusables
*********************
*/
body{background: #49525D; font-family: open sans,"Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px; line-height: 1.3; color: #333333; margin:0px;}

/*login form*/
body.login {
    background: none repeat scroll 0 0 #e6e6e6;
}


*login form*/
.login-box {
    margin: 150px auto auto;
    text-align: center;
    width: 400px;
}

#username_error {
    color: red;
    font-size: 11px;
    visibility: hidden;
	 margin-top: -15px;
     position: absolute;
}

#password_error, #password_error2{
    color: red;
    font-size: 11px;
    visibility: hidden;
	 margin-top: -15px;
    position: absolute;
}

.reset-password #password_error, 
.reset-password #password_error2{
    margin-top: -20px;
}

.log_message {
    color: red;
}

/*empty templates*/
.blank {
    background: none repeat scroll 0 0 #c9c9c9;
}
.blank .app-body {
    position: relative;
}



/*list*/
.list {
    border: 0px solid #000;
    margin: left;
    min-height: 300px;
    width: 70%; 
}
.list  .header{float:left; width:100%;}
.list  .body{float:left; width:100%;}


.col1, .col2, .col3, .col4, .col5 {
    float: left;
    text-align: center;
    width: 20%;
}

.logs .col1,
.logs  .col2,
.logs  .col3,
.logs  .col4,
.logs  .col5 {
    float: left;
    text-align: center;
    width: 12%;
}

.logs .body_list .col1, .logs .body_list .col2, .logs  .body_list .col3, .logs .body_list .col5, .logs .body_list .col4 {
    background-color: #fff;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.header_list .col1,
.header_list .col2,
.header_list .col3,
.header_list .col4,
.header_list .col5
 {
    background-color: #333;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
	color:#fff
}

.body_list {
    background-color: #fff;
    float: left;
    width: 100%;
}

.body_list .col1,
.body_list .col2,
.body_list .col3,
.body_list .col5,
.body_list .col4
 {
    background-color: #fff;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}



.header_list .col1, .header_list .col2, .header_list .col3, .header_list .col4, .header_list .col5 {
    background-color: #333;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}
/*user roles*/
.roles .col1,
.roles  .col2,
.roles  .col3{
    float: left;
    text-align: center;
    width: 33.3%;
}

.role_pages {
    float: left;
    margin-left: 10%;
    width: 40%;
}

/*modules */
.module_box {
    background-color: #fff;
    float:left;/*margin: auto; */
    padding: 10px;
    width: 100%;
}

.module_box .label {
   color: #333;
    float: left;
    font-size: 14px;
    font-weight: normal;
    margin-left: 5%;
    text-align: left;
    width: 32%;
}

.module_box .field {
    float: left;
    width: 60%;
}

.module_box h2{
    float: left;
    font-size: 15px;
    width: 100%;
}

.module_box h3 {
    float: left;
    font-size: 13px;
    width: 100%;  color:#333
}

.module_box .submit_div {
    float: left;
    margin-left: 30%;
    margin-top: 20px;
    width: auto;
}

.module_box .rows {
    float: left;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 100%;
}

.option_links {
    float: left;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: right;
    width: 100%;
}

.option_links > a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.cms .option_links > a{
color: #333;
}



/* profiles and edit user*/

.module_box_left {
    float: left;
    margin-left: 10%;
    width: 50%;
}
.module_box_right {
    float: left;
}

.avatar_div {
    border: 1px solid #ccc;
    float: left;
    max-height: 230px;
    max-width: 250px;
    overflow: hidden;
    text-align: center;
}

.avatar_div img {
    max-height: 230px;
    max-width: 250px;
}

/*header */

.navigator_left {
    background-color: #222;
    color: #fff;
    float: left;
    height: 100vh;
    width: 13%;
}

/*body*/

.content_right {
    background-color: #fff;
    float: left;
    height: auto;
    width: 87%;
}


.content_wrap {
    float: left;
    height: auto;
	min-height:700px;
    margin: 20px;
    width: 90%;
}


/*footer*/



/*nav*/
.nav > li, .nav li ul {
    list-style: outside none none;
}


.nav > li, .nav li ul {
    background-color: #333;
    color: #fff;
    font-size: 15px;
    list-style: outside none none;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-top: 6px;
}

ul.nav > li > a {
    color: #e8e8e8;
    font-size: 14px;
    text-decoration: none;
}

ul.nav > li > ul > li > a {
    color: #bbb;
    font-size: 12px;
    text-decoration: none;
}

ul.nav > li > ul > li {
  padding-left:30px;
}
.nav {
    padding: 0;
}


ul.nav > li {
    border-bottom: 1px solid #222;
}
.nav > li > a:hover,.nav > li > a:focus{background-color:#333;}


.s-form label {
    font-weight: normal;
    line-height: 21px;
}
label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}

.nav > li > a {
    display: block;
    padding: 5px 10px !important;
    position: relative;
}



.topdiv {
    
	background-color: #4cbb17;



    border-bottom: 0 solid #333;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
    height: 75px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
	z-index:202020;
	
}

/*
PUTBACK
.topdiv {
    background-color: #96bc50;
    border-bottom: 1px solid #666;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
    height: 75px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 202020;
}
*/
.top_menu {
    margin: auto;
    padding: 6px 20px 6px 6px;
    text-align: left;
    width: 80%;
}

.top_menu a {
    color: #243300;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    width: 150px;
}
/*PUTBACK
.top_menu a {
    color: #243300;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    width: 150px;
}
*/
.footer {
    margin: 50px auto auto;
    width: 80%;
	text-align:center;
}


.footer a {
 margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    width: 150px;
}

span.copyright {
    color: #666;
    font-size: 12px;
}

/*for edit listing page*/

.add_new_listing_left {
    float: left;
    width: 60%;
}

.view-details .add_new_listing_right {
    background-color: #f5f5f5;
    float: left;
    padding: 10px 20px;
    width: 39.5%;
}

.add_new_listing_right_left {
    float: left;
    width: 48%;
}

.add_new_listing_right_right {
    float: right;
    width: 48%;
}


.add_new_listing_middle {
    float: left;
    width: 100%;
}

.form-control.half {
    float: left;
    margin-bottom: 17px;
    margin-right: 3px;
    width: 45%;
}

.form-control.full {
    float: left;
    margin-bottom: 17px;
    margin-right: 3px;
    width: 90%;
}

.required {
    color: red;
    float: left;
    margin-right: 15px;
}

.main_wrap hr {
    border: 1px solid #009900;
    float: left;
    width: 100%;
}

.add_new_listing_middle h2 {
    margin-bottom: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
}

.form-control.threeforths {
    float: left;
    margin-right: 3px;
    width: 20%;
}

.payment_details .check_text,
.add_new_listing_right .check_text {
    float: left;
    font-size: 12px;
    padding-top: 5px;
}
.payment_details .checkbox,
.add_new_listing_right .checkbox {
    float: left;
    margin-right: 5px;
	margin-bottom: 12px;
}

.add_new_listing_right_full {
    float: left;
    width: 100%;
}

.add_new_listing_right_full .form-control.half {
   
    height: 30px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 0 !important;
    padding-left: 3px;
    padding-top: 0;
    width: 44%;
}

.is_checkbox .checkbox {
    float: left;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.map_div {
    float: left;
    width: 68%;
	margin-bottom: 20px;
}



.image_div {
    float: left;
    margin-right: 20px;
    width: 28%;
}

.is_checkbox .check_text {
    float: left;
    font-size: 12px;
    padding-top: 5px;
    text-align: left;
    width: 150px;
}

#period_availability {
    float: left;
    margin-right: 3px;
    width: 80%;
}

.is_checkbox{
float:left;width:60%; margin-top:20px; margin-top:20px; margin-bottom:20px; text-align:center !important
}

.form-control.small {
    float: left;
    margin-right: 3px;
    width: 15%;
}

#additional_notes {
    margin-top: 20px;
    width: 400px;
}

.add_new_listing_right_right .form-control.half {
  
    margin-right: 10px;
    padding-left: 3px;
    width: 44%;
}

.add_new_listing_right_right .form-control.half {

    height: 30px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 0 !important;
    padding-left: 3px;
    padding-top: 0;
    width: 44%;
}

/*my listing page*/
.listing_image {
    float: left;
    margin-right: 10px;
}

.listing_image img {
    width: 80px;
}

.listing_text {
    border-bottom: 2px solid green;
    float: left;
    padding-bottom: 15px;
    width: 400px;
}
.listing_row_title {
    font-weight: bold;
}
.listing_row_title > span {
    font-weight: normal;
    margin-left: 20px;
}

.listing_row_subtitle {
    float: left;
	margin-top: 25px;
}

.listing_options {
    float: left;
}

.listing_main_row {
    float: left;
    margin-top: 20px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.upgrade-account .module_box_left {
    width: 80%;
}

.other_images_li > li {
    display: block;
    float: left;
    list-style-type: unset;
    padding: 5px;
}

.listing_row_title > a {
    float: left;
}

.listing_row_title > span {
    float: right;
	  font-size: 13px;
}


.search_box {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}